.title {
    color: rgb(0, 0, 0);
    font-family: Arial;
    width: 50%;
    text-align: center;
    padding-bottom: 7px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 28px 6px 0;
}