.container {
    width: 395px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container p {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}